#mcdonald_uncle{
    height:200px; 
    width:200px;
}

#hamburger{
    height:200px; 
    width:200px;
}

#slogan{
    height:200px; 
    width:200px;
    position:absolute;
    top:300px;
    left:0px;
}



